<div fxLayout="column" style="width: 100%; margin-top: 1em;" fxLayout.xs="column" fxLayoutAlign="space-around center"
    fxLayoutGap="16px">
    <mat-card class="card">
        <mat-card-title>
            Have a Questions?
        </mat-card-title>
        <br>
        <mat-card-content fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
            <div class="text" fxLayout="row" fxLayoutAlign="center center">
                <span class="material-icons" style="font-size: 16px;">
                    location_on
                </span>&nbsp;&nbsp; India
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <span class="material-icons" style="font-size: 16px;">local_phone</span>&nbsp;&nbsp;
                <a href="tel:+917976210082" class="text">
                    +91-7976210082
                </a>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <span class="material-icons" style="font-size: 16px;">email</span>&nbsp;&nbsp;
                <a href="mailto:kritin.joshi.5@gmail.com" class="text" target="_blank">
                   kritin.joshi.5@gmail.com
                </a>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <span class="material-icons" style="font-size: 16px;">language</span>&nbsp;&nbsp;
                <a class="text" (click)="anchorClicked()">
                    kritinjoshi.in
                </a>
            </div>
            <br>
            <br>
            <div style="color: #808080;">
                <p>Copyright ©2021 Kritin Joshi. All rights reserved</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>