<main style="position: relative;">
    <div fxLayout="column">
        <div class="avatar-containt" fxLayout="column" fxLayoutAlign="space-between center">
            <img fxHide.xs src="../../assets/avatar.png" width="300px" alt="">
            <img fxHide fxShow.xs src="../../assets/avatar-xs.png" alt="">
            <br fxHide fxShow.xs>
            <h1 class="text-color">
                Hello, <br fxHide fxShow.xs>
                I'm <span class="name-text"><b>Kritin</b></span>
            </h1>
            <h4 class="text-color">
                Based in India, <br>
                I love designing and <br fxHide fxShow.xs> developing web applications
            </h4>
        </div>
        <div fxLayout="row">
            <img src="../../assets/Path 22.svg" fxHide.xs width="980px" height="100%" alt="">
            <img src="../../assets/Path 23.svg" fxHide.xs width="850px" style="margin-left: -27%;" height="100%" alt="">
        </div>
        <div class="waves">
            <object type="image/svg+xml" data="../../assets/wave-lines.svg" class="waves" alt=""></object>
        </div>
        <img src="../../assets/side-xs.svg" fxHide fxShow.xs alt="">
        <!-- <object data="../../assets/wave-lines.svg" width="300" height="300" class="waves"> </object> -->
        <!-- <img src="../../assets/logo.png" alt="">
        <img src="../../assets/logo.png" alt="">
        <img src="../../assets/logo.png" alt="">
        <img src="../../assets/logo.png" alt=""> -->
    </div>
</main>
