<main style="position: relative;">
    <div fxLayout="column">
        <div class="avatar-containt" fxLayout="column" fxLayoutAlign="space-between center">
            <img src="../../assets/avatar.png" class="avatar" alt="KJ avatar">
            <!-- <img fxHide fxShow.xs src="../../assets/avatar-xs.png" alt=""> -->
            <br fxHide fxShow.xs>
            <h1 class="text-color">
                Hello, <br fxHide fxShow.xs>
                I'm <span class="name-text"><b>Kritin</b></span>
            </h1>
            <h4 class="text-color">
                Based in India, <br>
                I love designing and <br fxHide fxShow.xs> developing web applications
            </h4>
        </div>
        <div fxLayout="row">
            <img src="../../assets/Path 22.svg" fxHide.xs width="980px" height="100%">
            <img src="../../assets/Path 23.svg" fxHide.xs width="850px" style="margin-left: -27%;" height="100%">
        </div>
        <div class="waves">
            <object type="image/svg+xml" data="../../assets/wave-lines.svg" class="waves"></object>
        </div>
        <img src="../../assets/side-xs.svg" fxHide fxShow.xs alt="">
    </div>
</main>
